{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "7.0.0",
        "browsers": ["last 2 Chrome versions"]
      },
    }]
  ],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".blob"
      ]
    }]
  ]
}
